.login-container {
    padding: 20px;

    .content-left {
        border: 0px solid gray;
    }

    .content-right {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
    }
}